table {
    border-collapse: collapse;
}
td,
th {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
}

#tabella{
    overflow-y: scroll;
    height: 275px;
    width: 100%;
    font-size: small;
    border:1px solid black;
} 
